---
// src/components/Nav.astro
---
<nav class="nav">
  <div class="container nav-inner">
    <a href="/" class="mark">A. Spiezio</a>
    <ul class="mono">
      <li><a href="/#work">Work</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="/notes">Notes</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
  </div>
</nav>
